<%- include('../partials/head', { titulo: 'Dashboard Admin' }) %>

<body class="page-sistema">

  <%- include('../partials/header') %>

  <main class="main-content">
    <h1>Estou na dashboard do adm</h1>
  </main>

</body>
</html>
